<!doctype html>
<html lang="pt-br">
    <head>
        <title>Teste</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<style>
            .map {
				height: 100%;
				width: 100%;
            }
            /* The switch - the box around the slider */
            .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            }

            /* Hide default HTML checkbox */
            .switch input {
            opacity: 0;
            width: 0;
            height: 0;
            }

            /* The slider */
            .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            }

            .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            }

            input:checked + .slider {
            background-color: #2196F3;
            }

            input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
            }

            input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
            border-radius: 34px;
            }

            .slider.round:before {
            border-radius: 50%;
            }

            #map{
                height: 580px;
            }
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="/static/script.js"></script>
        <script>
            $(document).ready(function(){
                var map = initMap();
                
                var url = 'http://localhost:1024/geoserver/cite/wms';
                var parana = new ol.layer.Tile({
                    source: new ol.source.TileWMS({
                    url: url,
                    params: {'LAYERS': 'cite:pr_setores_censitarios 41SEE250GC_SIR	', 'TILED': true},
                    serverType: 'geoserver',
                    transition: 0
                    })
                });

                var municipios = new ol.layer.Tile({
                    source: new ol.source.TileWMS({
                    url: url,
                    params: {'LAYERS': 'cite:pr_municipios 41MUE250GC_SIR	', 'TILED': true},
                    serverType: 'geoserver',
                    transition: 0
                    })
                })

                var distritos = new ol.layer.Tile({
                    source: new ol.source.TileWMS({
                    url: url,
                    params: {'LAYERS': 'cite:pr_distritos 41DSE250GC_SIR	', 'TILED': true},
                    serverType: 'geoserver',
                    transition: 0
                    })
                })

                map.addLayer(parana);
                map.addLayer(municipios);
                map.addLayer(distritos);
                parana.setVisible(false);
                municipios.setVisible(false);
                distritos.setVisible(false);


                $('#paranaInput').on('change',function(){
                    if($('#paranaInput').is(':checked')){
                        parana.setVisible(true);
                        municipios.setVisible(false);
                        distritos.setVisible(false);

                        $('#municipioInput').prop("checked", false);
                        $('#distritoInput').prop("checked", false);
                    }else{
                        parana.setVisible(false);
                    }
                });
                $('#municipioInput').on('change',function(){
                    if($('#municipioInput').is(':checked')){
                        municipios.setVisible(true);
                        parana.setVisible(false);
                        distritos.setVisible(false);

                        $('#paranaInput').prop("checked", false);
                        $('#distritoInput').prop("checked", false);
                    }else{
                        municipios.setVisible(false);
                    }
                });
                $('#distritoInput').on('change',function(){
                    if($('#distritoInput').is(':checked')){
                        distritos.setVisible(true);
                        municipios.setVisible(false);
                        parana.setVisible(false);

                        $('#paranaInput').prop("checked", false);
                        $('#municipioInput').prop("checked", false);
                    }else{
                        distritos.setVisible(false);
                    }
                });
            });
        </script>
    </head>
    <body>
        <div class="alert alert-dark" role="alert">
            <div class="container">
            <div class="row">
                <div class="col">
                    <label class="switch">
                        <input type="checkbox" id="municipioInput"><span class="slider round"></span>
                    </label>
                    Municipio
                </div>
                <div class="col">
                    <label class="switch">
                        <input type="checkbox" id="distritoInput"><span class="slider round"></span>
                    </label>
                    Distrito
                </div>
                <div class="col">
                    <label class="switch">
                        <input type="checkbox" id="paranaInput"><span class="slider round"></span>
                    </label>
                    Setores censitarios
                </div>
            </div>
            </div>
        </div>   
        <div id="map"></div>
        <br>
    </body>
</html>